@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

/* Typing */
@keyframes typing {
  40%,
  60% {
    left: calc(100% + 30px);
  }
  100% {
    left: 0;
  }
}

/* FADE IN  */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fadeIn {
  animation-name: fadeIn;
}

/* FADE IN DOWN */

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.fadeInDown {
  animation-name: fadeInDown;
}

/* FADE IN UP */

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 20px, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.fadeInUp {
  animation-name: fadeInUp;
}

/* FADE IN UP BIG */

@keyframes fadeInUpBig {
  from {
    opacity: 0;
    transform: translate3d(0, 100px, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.fadeInUpBig {
  animation-name: fadeInUpBig;
}

/* FADE IN LEFT */

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-30px, 0, 0) rotateZ(30deg);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.fadeInLeft {
  animation-name: fadeInLeft;
}

/* FADE IN LEFT BIG */

@keyframes fadeInLeftBig {
  from {
    opacity: 0;
    transform: translate3d(-100px, 0, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.fadeInLeftBig {
  animation-name: fadeInLeftBig;
}

/* FADE IN RIGHT */

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.fadeInRight {
  animation-name: fadeInRight;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  align-items: center;
  justify-content: center;
  background: white;
  text-align: center;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}
.line:not([size]) {
  height: 3px;
}

.line {
  border-width: 10px;
  height: 10px;
  border-color: #000000;
  width: 25%;
  margin-bottom: 20px;
  margin-top: 20px;
}
p {
  margin-bottom: 0%;
}
/* navigation */
.navigation {
  background-color: #ffffff;
  color: #472b44;
  box-shadow: 0 10px 18px rgb(0 0 0 / 40%), 0 5px 8px rgb(0 0 0 / 14%);
}
.navbar-light .navbar-brand,
.navbar-light .navbar-brand:hover,
.navbar-light .navbar-brand:active,
.navbar-light .navbar-brand:focus {
  color: #472b44;
  font-weight: 700;
  font-size: 2.5rem;
}
.head-1 {
  margin-right: 2px;
  font-weight: 700;
}
.head-2 {
  font-family: "Times New Roman", Times, serif;
}
.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:active {
  color: #472b44;
  font-weight: 600;
  font-size: 1.2rem;
}
.navbar-nav.nav-tabs li a {
  color: #472b44;
}

.nav-tabs {
  border-bottom: none;
}
.nav-tabs .nav-link {
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  padding-left: 1%;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #495057;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6;
}

.arrow-icon {
  color: rgb(0, 0, 0);
}

.navbar-light .navbar-toggler,
.navbar-light .navbar-toggler:hover,
.navbar-light .navbar-toggler:active {
  border: none;
}

.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: none;
}

i.fa {
  cursor: pointer;
  user-select: none;
}

/* footer */

#footer {
    background-color: #472b44;
}

.terms {
    margin-left: auto;
}

.footer-end{
    display: flex;
}

.pop-up{
    color: #472b44;
}